		
{% include "head.njk" %}

	<div class="body {{ pageClass }}">

		{% include "header.njk" %}

		{% set sections = collections.sections | reverse %}
		{%- for section in sections-%}
			{% include "section.njk" %}
		{%- endfor -%}

		{% include "footer.njk" %}

	</div>

