<!doctype html>
<html lang="en" class="fonts" data-site-theme="">
	
	<head>		
		{% include "head.njk" %}
	</head>
	
	<body>
	
		<main role="main">
	
			<div class="page-content {{ pageClass }}">
	
				{% include "header.njk" %}

				{% set sections = collections.sections | reverse %}
				{%- for section in sections-%}
					{% include "section.njk" %}
				{%- endfor -%}

				<div class="sub latest">
					{% for post in collections.posts %}
						<h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
						<em>{{ post.data.date }}</em>
					{% endfor %}
				</div>

				{% include "footer.njk" %}
	
			</div>
			
		</main>
	
	</body>

</html>
