{% include "head.njk" %}
		<main role="main">
            <div class="body">
                
				{% include "header.njk" %}

				<section class="sub sub-{{ pageClass }}" role="region" aria-labelledby="date-{{ pageClass }}" aria-describedby="place-{{ pageClass }}">
					<div class="section-head">
						<h2 class="section-hed shaded" id="place-{{ pageClass }}">{{ title | safe }}</h4>
					</div>	
					{% if img %}
						<img class="study-img" src="/_assets/img/work/{{ img }}" alt="{{ img-alt }}">
					{% endif %}
					<div class="copy">
						{{ content | safe }}
					</div>
					{% if interior %}
						<img class="study-img" src="/_assets/img/work/{{ interior }}" alt="{{ interior-alt }}">
					{% endif %}
					{% if secondary %}
						<img class="study-img" src="/_assets/img/work/{{ secondary }}" alt="{{ secondary-alt }}">
					{% endif %}
				</section>
		</main>
    	
{% include "footer.njk" %}