
<footer class="sub">
	<p><span>&copy; 2020 All Rights Reserved. By Me Zack. Don't steal my shit.</span></p>
    <label class="theme-switch" for="checkbox">
    	<input type="checkbox" id="checkbox" />
    	<div class="slider round"></div>
  	</label>
    <em>Enable Dark Mode!</em>
</footer>
<script type="text/javascript" src="/_assets/js/main.js"></script>