<footer class="sub">
	<p>
		<span>
			&copy;2022 All Rights Reserved. By Me Zack. Don't steal my shit. Find me on  <a rel="me" href="https://mas.to/@ohthatzack">Mastodon</a> if that is your jam.
		</span>
	</p>
</footer>

<script type="text/javascript" src="/_assets/js/main.js"></script>