<footer class="sub">
	<p>
		<span>
			&copy;2022 All Rights Reserved. By Me Zack. Don't steal my shit. Find me on  <a rel="me" href="https://mas.to/@ohthatzack">Mastodon</a> if that is your jam.
		</span>
		<button class="theme-toggle" id="theme-toggle" title="Toggles light and dark" aria-label="auto" aria-live="polite">
			<span class="button-wrap">
				<svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg" role="img">
					<circle cx="8" cy="8" r="7.25" stroke="#5B5B66" stroke-width="1.5"/>
					<mask id="a" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16">
						<circle cx="8" cy="8" r="7.25" fill="#5B5B66" stroke="#5B5B66" stroke-width="1.5"/>
					</mask>
					<g mask="url(#a)">
						<path fill="#5B5B66" d="M0 0h8v16H0z"/>
					</g>
				</svg>
			</span>
		</button>
	</p>
</footer>

<script type="text/javascript" src="/_assets/js/main.js"></script>