		
<header>
	<h1 class="shaded">The Personal Disquisition of<br> Zachary Jewell</h1>
	<div class="intro">
		<p class="lede">{{ lede | safe }}</p>
		<ul class="menu">
			{%- for nav in collections.nav | reverse -%}
				<li class="menu-item{% if nav.url == page.url %} nav-item-active{% endif %}">
					<a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
				</li>
			{%- endfor -%}
		</ul>
	</div>
</header>