<!doctype html>
<html lang="en" class="fonts" data-site-theme="">
	
	<head>		
		{% include "head.njk" %}
	</head>
	
	<body>
	
		<main role="main">
	
			<div class="page-content {{ pageClass }}">
	
				{% include "header.njk" %}

				<div class="sub section-head">
					<h2 class="section-hed shaded" id="place-{{ pageClass }}">{{ title | safe }}</h4>
				</div>
				{% if about %}
					<figure>
						<img class="about-img" src="/_assets/img/{{ img }}" alt="{{ img-alt }}">
						<figcaption>{{ img-alt }}</figcaption>
					</figure>
				{% endif  %}
					{% if img %}
						<img class="study-img" src="/_assets/img/work/{{ img }}" alt="{{ img-alt }}">
					{% endif %}
					<div class="sub copy">
						{{ content | safe }}
					</div>
					{% if interior %}
						<img class="study-img" src="/_assets/img/work/{{ interior }}" alt="{{ interior-alt }}">
					{% endif %}
					{% if secondary %}
						<img class="study-img" src="/_assets/img/work/{{ secondary }}" alt="{{ secondary-alt }}">
					{% endif %}

				{% include "footer.njk" %}
	
			</div>
			
		</main>
	
	</body>

</html>
