/* Main Styles Go Here. Also in inline.css */

/* Its 2024 why do I need this still? */
*, *:before, *:after { box-sizing: border-box; }

img, picture {
	max-width: 100%;
	height: auto;
}
body { 
	background-color: var(--body-bg); 
	padding: 0.5em;
}

:root {
	--line-height: 1.75;
	--fluid-gap: clamp(0.75rem, 3vw, 1.5rem);
}

@media (prefers-color-scheme: dark) {
	:root {
		--tertiary: #f8f697;
		--primary: #55C8B6;
		--secondary: #089ce7;
		--text: #f1f1ee;
		--body-bg: #212121;
		--box-shadow: 20px 20px 60px #1d1d1d, -20px -20px 60px #272727;
		--gradient: linear-gradient(to right, var(--secondary), var(--primary), var(--tertiary));
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--tertiary: #F5A227;
		--primary: #089ce7;
		--secondary: #f200ff;
		--text: #212121;
		--body-bg: #ffffff;
		--box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
		--gradient: linear-gradient(to right, var(--secondary), var(--primary), var(--tertiary));
	}
}

/* Type Styles */
.site-title {
    font-size: clamp(1.45em, 0.5vw, 1.7em);
    line-height: var(--line-height);
    background-color: var(--text);
	transform: skew(-5deg) rotate(-5deg);
}
.site-title a {
    color: var(--body-bg);
    text-decoration: none;
}

p {
	font-size: clamp(1em, 0.25vw, 1.1em);
	line-height: var(--line-height);
}

a {
	color: var(--primary);
}

@media screen and (min-width: 40em) {
	header {
		position: fixed;
		width: 20vw;
		max-width: 220px;
		padding: 1em;
	}	

	.container {
		display: grid;
		grid-template-columns: minmax(250px, 20vw) 1fr;
	}
	 .container main {
		max-width: 50vw;
		grid-column-start: 2;
		position: relative;
		margin-left: 2rem;
	 }
	
	nav {
		display: block;
		font-size: 1.1em;
	}

	nav ul {
		display: grid;
		grid-template-columns: none;
	}
}


/* Nav Garbo */

nav {
	margin-top: 4ch;
}

nav ul {
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	padding-left: 0.65em;
	margin-block-end: 0.5em;
}

nav ul li a {
	text-decoration: none;
	color: var(--text);
}

nav ul li .active {
	border-left: 3px solid var(--tertiary);
	padding-left: 5px;
}

.post {
	margin-block-end: 1.75em;
}
@media screen and (min-width: 48.125em) {
	.post { margin-block-end: 2.25em; }
}

.post h2 {
	margin-block-start: 0.5em;
	margin-block-end: 0.25em;
}

.post h2 a {
	color: var(--primary);
	margin-block-start: 0;
}

.post p {
	margin-block-start: 0;
}