[aria-hidden="true"] { display: none; }

:root[data-site-theme="light"] {
	--tertiary: #F5A227;
	--primary: #333BC1;
	--secondary: #f200ff;
	--text: #1C1C1C;
	--body-bg: #ffffff;
	--box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
	--gradient: linear-gradient(to right, var(--secondary), var(--primary), var(--tertiary));;
}	


@media (prefers-color-scheme: light) {
	:root {
		--tertiary: #F5A227;
		--primary: #333BC1;
		--secondary: #f200ff;
		--text: #1C1C1C;
		--body-bg: #ffffff;
		--box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
		--gradient: linear-gradient(to right, var(--secondary), var(--primary), var(--tertiary));
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--tertiary: #f8f697;
		--primary: #55C8B6;
		--secondary: #333BC1;
		--text: #f1f1ee;
		--body-bg: #000000;
		--box-shadow: 20px 20px 60px #1d1d1d, -20px -20px 60px #272727;
		--gradient: linear-gradient(to right, var(--secondary), var(--primary), var(--tertiary));;
	}
}


:root[data-site-theme="dark"] {
	--tertiary: #f8f697;
	--primary: #55C8B6;
	--secondary: #333BC1;
	--text: #f1f1ee;
	--body-bg: #000000;
	--box-shadow: 20px 20px 60px #1d1d1d, -20px -20px 60px #272727;
	--gradient: linear-gradient(to right, var(--secondary), var(--primary), var(--tertiary));;
}

*, *:before, *:after {
	box-sizing: border-box;
  }

img {
	max-width: 100%;
	height: auto;
}

a {	
	color: var(--secondary); 
	font-style: italic;
}

body {
	color: var(--text); 
	background: var(--gradient);
	margin: 0 auto;
	padding: 1em 0 0 0;
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    height: auto;
}

main { 
	background-color: var(--body-bg); 
	padding: 0.5em;
}

h1 { 
	font-family: 'Supreme', helvetica, sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	text-align: left;
	position: relative;
	font-style: italic;
	overflow: hidden;
}
	
h1:before {
	content: "";
	background-size: cover;
	border-radius: 50%;
	mix-blend-mode: luminosity;
}

@media screen and (min-width: 48.875em) {
	h1 { height: 4.5em; }
}

h1 span {
	display: block;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
	
h1 span:after {
	content: "";
	position: absolute;
	height: 5px;
	top: 50%;
	right: 75%;
	left: 0;
	filter: blur(5px);
}
	
.first {
	color: var(--primary);
	text-shadow: 0 0 0.5em var(--primary);
}

.first:after {
	right: 95%;
	background: linear-gradient(to right, rgba(0, 255, 255, 0), var(--primary), rgba(0, 255, 255, 0))
}

.second {
	color: var(--tertiary);
	text-shadow: 0 0 0.5em var(--tertiary);
}

.second:after {
	background: linear-gradient(to right, rgba(0, 255, 255, 0), var(--tertiary), rgba(0, 255, 255, 0))
}


.third {
	color: var(--secondary);
	text-shadow: 0 0 0.5em var(--secondary);
}

.third:after {
	background: linear-gradient(to right, rgba(0, 255, 255, 0), var(--secondary), rgba(0, 255, 255, 0))
}

.intro { margin-bottom: 3em; }

@media screen and (min-width: 23.5em) {
	.body {
		display: grid;
		grid-template-columns: repeat(5,1fr);
		grid-column-gap: 1em;
		margin: 0 auto;
	}
}

@media screen and (min-width: 39.0625em) {
	.body { grid-template-columns: repeat(10,1fr); }
}

footer { 
	margin: 2em 0;
}

footer span {
	font-size: 0.875em;
	text-align: left;
}

.theme-switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
  }
  
  .theme-switch input {
	display:none;
  }
  
  .slider {
	background-color: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
  }
  
  .slider:before {
	background-color: #fff;
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: .4s;
	width: 26px;
  }
  
  input:checked + .slider {
	background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
	transform: translateX(26px);
  }
  
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
