[aria-hidden="true"] { display: none; }

:root[color-mode="light"] {
	--surface1: #e6e6e6;
	--surface2: #f2f2f2;
	--surface3: #ffffff;
	--element1: #111111;
	--element2: #222222;
	--element3: #333333;
	--elementInverse: #eee;
	--primary: #01408e;
	--secondary: #3c5d5c;
	--tertiary: #fff7d6;
	--box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
  }
  
  :root[color-mode="dark"] {
	--surface1: #262626;
	--surface2: #333333;
	--surface3: #404040;
	--element1: #eeeeee;
	--element2: #dddddd;
	--element3: #cccccc;
	--elementInverse: #111;
	--primary: #8fceff;
	--secondary: #72faca;
	--tertiary: #eee8a9;
	--box-shadow: 20px 20px 60px #1d1d1d, -20px -20px 60px #272727;
  }
  

*, *:before, *:after {
	box-sizing: border-box;
  }

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #2E1969;
	transition: color .15s linear, -webkit-text-fill-color .15s linear, text-decoration-color .5s linear;
	text-decoration: none;
}

body {
	color: #3b3b3b; 
	background: #f1f1ec;
	margin: 0 auto;
	padding: 3%;
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    height: auto;
}

.intro { margin-bottom: 3em; }

@media screen and (min-width: 23.5em) {
	.body {
		display: grid;
		grid-template-columns: repeat(5,1fr);
		grid-column-gap: 1em;
		margin: 0 auto;
	}
}

@media screen and (min-width: 39.0625em) {
	.body { grid-template-columns: repeat(10,1fr); }
}

@supports( text-decoration-color: #2E1969 ) {
	a {
		text-decoration: underline;
		text-decoration-color: #2E1969;
		border-bottom: none;
	}
	a:hover {
		text-decoration: underline;
		text-decoration-color: #cb4335;
		border-bottom: none;
	}
}

/* .hide-dis {
	position: absolute;
    left: -100vw;
} */

.switch {
	position: relative;
	display: inline-block;
  }
  .switch-input {
	display: none;
  }
  .switch-label {
	display: block;
	width: 48px;
	height: 24px;
	text-indent: -150%;
	clip: rect(0 0 0 0);
	color: transparent;
	user-select: none;
  }
  .switch-label::before,
  .switch-label::after {
	content: "";
	display: block;
	position: absolute;
	cursor: pointer;
  }
  .switch-label::before {
	width: 100%;
	height: 100%;
	background-color: #dedede;
	border-radius: 9999em;
	-webkit-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
  }
  .switch-label::after {
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
	-webkit-transition: left 0.25s ease;
	transition: left 0.25s ease;
  }
  .switch-input:checked + .switch-label::before {
	background-color: #89c12d;
  }
  .switch-input:checked + .switch-label::after {
	left: 24px;
  }
  

footer {
	text-align: right;
}


@media (prefers-color-scheme: dark) {
	.lede {
		border-top: 2px solid #f1f1ec;
		border-bottom: 2px solid #f1f1ec;
	}

	body {
		background: #3b3b3b; 
		color: #f1f1ec;
	}

	.shaded { 
		background: linear-gradient(180deg,#DB3A87 0,#6638F0 100%);
		background-image: -webkit-linear-gradient(180deg,#DB3A87 0,#6638F0 100%);
		background-image:    -moz-linear-gradient(180deg,#DB3A87 0,#6638F0 100%);
		background-image:     -ms-linear-gradient(180deg,#DB3A87 0,#6638F0 100%);
		background-image:      -o-linear-gradient(180deg,#DB3A87 0,#6638F0 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: rgba(0,0,0,.15)
	}

}