html[data-theme="light"] {
	--tertiary: #F5A227;
	--primary: #333BC1;
	--secondary: #f200ff;
	--text: #1C1C1C;
	--body-bg: #ffffff;
	--box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
	--gradient: linear-gradient(to right, var(--secondary), var(--primary), var(--tertiary));
}

html[data-theme="dark"] {
	--tertiary: #f8f697;
	--primary: #55C8B6;
	--secondary: #333BC1;
	--text: #f1f1ee;
	--body-bg: #000000;
	--box-shadow: 20px 20px 60px #1d1d1d, -20px -20px 60px #272727;
	--gradient: linear-gradient(to right, var(--secondary), var(--primary), var(--tertiary));;
}

*, *:before, *:after {
	box-sizing: border-box;
  }

img {
	max-width: 100%;
	height: auto;
}

a {	
	color: var(--secondary); 
	font-style: italic;
}

body {
	color: var(--text); 
	background: var(--gradient);
	margin: 0 auto;
	padding: 1em 0 0 0;
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    height: auto;
}

main { 
	background-color: var(--body-bg); 
	padding: 0.5em;
}
	
.intro { margin-bottom: 3em; }

.intro p { 
	margin: 0;
	border-top: 2px solid var(--text); 
	border-bottom: 2px solid var(--text);
}

.menu ul {
	margin: 0.25em;
}

.menu ul li {
	margin: 0 0.5rem;
}
.menu ul li:first-child {
	margin: 0 0.5rem 0 0;
}

.menu ul li a {
	color: var(--tertiary);
    --mono: "MONO" 1;
    --casl: "CASL" 0;
    --wght: "wght" 900;
    --slnt: "slnt" 0;
    --CRSV: "CRSV" 0;
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV); 
    font-family:'Recursive', helvetica, sans-serif;
    font-size: 1.05em;
	text-decoration: none;
	letter-spacing: 1px;
}

@media screen and (min-width: 23.5em) {
	.body {
		display: grid;
		grid-template-columns: repeat(5,1fr);
		grid-column-gap: 1em;
		margin: 0 auto;
	}
}

@media screen and (min-width: 39.0625em) {
	.body { grid-template-columns: repeat(10,1fr); }
}

footer { 
	margin: 2em 0;
}

footer span {
	font-size: 0.875em;
	text-align: left;
}

.button-wrap {
	display: flex;
	align-items: center;
	gap: 0.25em;
	justify-content: center;
}

.theme-toggle {
	font-size: 0.85em;
	--icon-fill: rgb(69, 77, 84);
	--icon-fill-hover: rgb(34, 38, 42);
	background: var(--text);
	border: 1px solid var(--text);
	color: var(--body-bg);
	border-radius: 5px;
	padding: 2px;
	cursor: pointer;
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
}

.theme-toggle > svg {
	inline-size: var(--size);
	block-size: var(--size);
	stroke-linecap:round
}

[data-theme=dark] .theme-toggle {
	--icon-fill: hsl(210 10% 70%);
	--icon-fill-hover: hsl(210 15% 90%)
}

html {
	block-size: 100%;
	color-scheme:light
}

html[data-theme=dark] {
	color-scheme:dark
}

@supports not (color-scheme: dark) {
	html[data-theme=dark] {
		background:#111
	}
}
