.resume-info {  margin: 0 0 2em 0; }

.resume-descript { margin: 0 0 2em 0; }

.resume-info h2,
.resume-info h4 { margin: 0 0 0.5em 0; }

.resume-info h3 { margin: 0 0 0.25em 0; }

.resume-info h4 { font-style: italic; }

.job { grid-column: 1/span 10;}

.resume .sub {
    grid-column: 2/span 6;
    margin: 2em 0;
}
