@font-face {
	font-family:"iAWriterMonoS", 'Courier New', Courier, monospace;
	src: url('./_assets/fonts/iAWriterMonoS-Regular.eot'); 
	src: url('./_assets/fonts/iAWriterMonoS-Regular.woff');
	src: url('./_assets/fonts/iAWriterMonoS-Regular.woff2');  
}
@font-face {
	font-family:"iAWriterMonoS", 'Courier New', Courier, monospace;
	font-weight: bold;
	src: url('./_assets/fonts/iAWriterMonoS-Bold.eot'); 
	src: url('./_assets/fonts/iAWriterMonoS-Bold.woff');
	src: url('./_assets/fonts/iAWriterMonoS-Bold.woff2');   
} 
@font-face {
	font-family:"iAWriterMonoS", 'Courier New', Courier, monospace;
	font-style: italic;
	src: url('./_assets/fonts/iAWriterMonoS-Italic.eot'); 
	src: url('./_assets/fonts/iAWriterMonoS-Italic.woff');
	src: url('./_assets/fonts/iAWriterMonoS-Italic.woff2');   
}

@font-face {
	font-family:"iAWriterMonoS", 'Courier New', Courier, monospace;
	font-style: italic;
	src: url('./_assets/fonts/iAWriterMonoS-Italic.eot'); 
	src: url('./_assets/fonts/iAWriterMonoS-Italic.woff');
	src: url('./_assets/fonts/iAWriterMonoS-Italic.woff2');   
}

@font-face {
	font-family:"iAWriterMonoS", 'Courier New', Courier, monospace;
	font-weight: bold;
	font-style: italic;
	src: url('./_assets/fonts/iAWriterMonoS-BoldItalic.eot'); 
	src: url('./_assets/fonts/iAWriterMonoS-BoldItalic.woff');
	src: url('./_assets/fonts/iAWriterMonoS-BoldItalic.woff2');   
}

:root {
	--font: "iAWriterMonoS", 'Courier New', Courier, monospace;
}

.resume-info h2, .resume-info h3 { 
	margin-bottom: 0; 
}
.resume-info h3, h4 { margin-top: 0; }

body {
	font-family: var(--font);
}

h1 { 
	font-weight: bold;
    font-size: 2.25em;
	text-transform: uppercase;
	text-align: left;
	position: relative;
	font-style: italic;
}

h1:before {
	content: "";
	background-size: cover;
	border-radius: 50%;
	mix-blend-mode: luminosity;
}

@media screen and (min-width: 48.875em) {
	h1 { height: 3.85em; }
}

h1 span {
	display: block;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
	
h1 span:after {
	content: "";
	position: absolute;
	height: 5px;
	top: 50%;
	right: 75%;
	left: 0;
	filter: blur(5px);
}
	
.first {
	color: var(--primary);
	text-shadow: 0 0 0.5em var(--primary);
}

.first:after {
	right: 95%;
	background: linear-gradient(to right, rgba(0, 255, 255, 0), var(--primary), rgba(0, 255, 255, 0))
}

.second {
	color: var(--tertiary);
	text-shadow: 0 0 0.5em var(--tertiary);
}

h2, h3 {
	color: var(--tertiary);
}

p {
	font-size: clamp(1.1875rem, 1.12rem + 0.33vw, 1.375rem);
	font-weight: 400;
	line-height: 1.6;
}

a {
	color: var(--text);
    text-decoration-color: var(--primary);
    text-decoration-thickness: 2px;
    text-underline-offset:.2ex
}
}