/* load some fonts yo */
@font-face {
    font-family: 'fira-sans';
    src: url('/_assets/fonts/fira-sans-regular.woff2') format('woff2'),
         url('/_assets/fonts/fira-sans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fira-sans';
    src: url('/_assets/fonts/fira-sans-800.woff2') format('woff2'),
         url('/_assets/fonts/fira-sans-800.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fira-sans';
    src: url('/_assets/fonts/fira-sans-800italic.woff2') format('woff2'),
         url('/_assets/fonts/fira-sans-800italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'fira-sans';
    src: url('/_assets/fonts/fira-sans-italic.woff2') format('woff2'),
         url('/_assets/fonts/fira-sans-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

h1, h2, h3, h4, .intro p, .menu, p { font-family:'fira-sans', helvetica, sans-serif; }

h1, h2, h3, h4 { color: #33146d; }

em {
    font-family:'fira-sans', helvetica, sans-serif;
    font-style: italic;
}

header h1 {
    font-family: 'fira-sans', helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
    grid-column: 1;
    margin: 0 0 1em 0;
    justify-self: start;
    writing-mode: vertical-lr;
    height: 7em;
}

.intro p {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 2px solid #3b3b3b;
    border-bottom: 2px solid #3b3b3b;
    padding: 0.3125em 0;
    margin: 0;
    grid-column: 3;
}

.content p {
    font-size: 1.15em;
    line-height: 1.5;
}

.shaded { 
    background: linear-gradient(-180deg,#701279 0,#33146d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,.15)
}

/* 
@media screen and (min-width: 57.75em) {
    .sub .content { grid-column: 10/span 15; }
} 
*/