/* load some fonts yo */
@font-face {
    font-family: 'fira-sans';
    src: url('/_assets/fonts/fira-sans-regular.woff2') format('woff2'),
         url('/_assets/fonts/fira-sans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fira-sans';
    src: url('/_assets/fonts/fira-sans-800.woff2') format('woff2'),
         url('/_assets/fonts/fira-sans-800.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fira-sans';
    src: url('/_assets/fonts/fira-sans-800italic.woff2') format('woff2'),
         url('/_assets/fonts/fira-sans-800italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'fira-sans';
    src: url('/_assets/fonts/fira-sans-italic.woff2') format('woff2'),
         url('/_assets/fonts/fira-sans-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

h1, h2, h3, h4, .intro p, .menu, p { font-family:'fira-sans', helvetica, sans-serif; }

h1, h2, h3, h4 { color: #2E1969; }

em {
    font-family:'fira-sans', helvetica, sans-serif;
    font-style: italic;
}

header h1 {
    font-family: 'fira-sans', helvetica, sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: left;
    grid-column: 1;
    justify-self: start;
    writing-mode: vertical-lr;
    height: 7em;
    margin: 0;
}
@media screen and (min-width: 25.75em) {
    header h1 {
      font-size: 2.75em; 
    }
}
.section-head h2 { font-size: 1.75em; }

.section-head h2,
.copy h3 { margin: 1em 0 0.5em 0;}

.lede {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 2px solid #3b3b3b;
    border-bottom: 2px solid #3b3b3b;
    padding: 0.3125em 0;
    margin: 0;
    grid-column: 3;
}

.intro p {
    margin: 0; 
}

.definition {
    margin: 1.5em 0 0 0;
}
.definition h2 {
    font-size: 1.5em;
    margin: 0 0 0 0;
}

p {
    font-size: 1.15em;
    line-height: 1.5em;
    margin: 0 0 1em 0;
}

.shaded { 
    background: linear-gradient(180deg,#701279 0,#2E1969 100%);
    background-image: -webkit-linear-gradient(180deg,#701279 0,#2E1969 100%);
    background-image:    -moz-linear-gradient(180deg,#701279 0,#2E1969 100%);
    background-image:     -ms-linear-gradient(180deg,#701279 0,#2E1969 100%);
    background-image:      -o-linear-gradient(180deg,#701279 0,#2E1969 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,.15)
}

.sub:nth-of-type(2) p {
    font-size: 1.5em;
    background: linear-gradient(180deg,#701279 0,#2E1969 100%);
    background-image: -webkit-linear-gradient(180deg,#701279 0,#2E1969 100%);
    background-image: -moz-linear-gradient(180deg,#701279 0,#2E1969 100%);
    background-image: -ms-linear-gradient(180deg,#701279 0,#2E1969 100%);
    background-image: -o-linear-gradient(180deg,#701279 0,#2E1969 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,.15)
}

/* 
@media screen and (min-width: 57.75em) {
    .sub .content { grid-column: 10/span 15; }
} 
*/