<footer>
  <div>
    <address class="me">
      <div class="me">
        <dt>Github:</dt>
        <dd>
          <a href="https://github.com/zackjewell">https://github.com/zackjewell</a>
        </dd>
      </div>
      <div>
        <dt>Mastodon:</dt>
        <dd>
          <a href="https://mas.to/@ohthatzack">https://mas.to/@ohthatzack</a>
        </dd>
      </div>
    </address>
  </div>
  <div>
    <p>If you see something broken, a problem or something, you can <a href="https://github.com/zackjewell/zjnety/issues">report an issue</a>. Or not, you do you.</p>
  </div>
</footer>