<head>
  <meta charset="utf-8">
  <meta name="generator" content="{{ eleventy.generator }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark" />
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ metaDescription or eleventyComputed.metaDescription or metadata.description }}">
  
  <link rel="stylesheet" as="style" href="_includes/assets/css/main.css" />
  <link rel="preload" as="style" href="_includes/assets/css/main.css" />

  {# Creates inline CSS #}
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>

</head>
