<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} data-site-theme="" lang="en">

	{% include "components/head.njk" %}

	<body>

		<header class="cq">
			<h1 class="site-title tt">
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</h1>
			{% include "components/nav.njk" %}
		</header>

		<div class="container">
			<main>
				{{ layoutContent | safe }}
			</main>
			{% include "components/footer.njk" %}
		</div>

	</body>

</html>
