<!doctype html>
<html lang="{{ metadata.language }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title or metadata.title }}</title>
<meta name="description" content="{{ description or metadata.description }}">
<link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
<meta name="generator" content="{{ eleventy.generator }}">
<link rel="stylesheet" as="style" href="/css/index.css" />
{#- Add the heading-anchors web component to the JavaScript bundle #}
<!-- Shout outs to you for finding this easter egg in my site. You must be interested in my work or how I built this site. If you have any questions about how I built it, want to chat about anything, or hire me then you can reach out to me at zack.jewell@gmail.com -->
{%- js %}{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}{% endjs %}
</head>
<body class="container">
<a href="#skip" class="visually-hidden">Skip to main content</a>
<header class="header col-span-2 col-md-start-1 col-md-span-1 col-lg-start-1 col-lg-span-2">
  <h1 class="site-title tt">
    <span>Personal Ramblings</span> 
    <span>of Zachary Jewell</span>
  </h1>
  <nav>
    <h2 class="visually-hidden">Top level navigation menu</h2>
    <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
      <li class="nav-item">
        <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
      </li>
      {%- endfor %}
    </ul>
  </nav>
</header>
<div class="content col-md-start-2 col-span-2 col-md-span-5 col-lg-span-7">
  <main id="skip">
    <div class="main-content">
      {{ content | safe }}
    </div>
  </main>
</div>
<footer class="col-md-start-2col-span-2 col-md-span-6 col-lg-span-7">
  <div>
    <address>
      <ul>
        <li class="me">
          <a href="https://github.com/zackjewell"><span>Github</span></a>
        </li>
        <li>
          <a href="https://mas.to/@ohthatzack">Mastodon</a>
        </li>
        <li>
          <a href="/feed/feed.xml"><span>Feed</span></a>
        </li>
      </ul>
    </address>
  </div>
  <div>
    <p>If you see something broken, a problem or something, you can <a href="https://github.com/zackjewell/zjnety/issues">report an issue</a>. Or not you do you.</p>
  </div>
</footer>
<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
<script type="module" src="{% getBundleFileUrl "js" %}"></script>
</body>
</html>