---
layout: layouts/base.njk
section: home
eleventyNavigation:
  key: Home
  order: 0
  url: https://zackjewell.net
---

{% set postslist = collections.post %}
{% include "components/postslist.njk" %}
